
/* PARTE DO NAV */

nav.menu-desktop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    /*background: linear-gradient(to bottom, #0B0618 80%, rgba(23, 17, 37, 0.100) 100%);*/
    background: rgba(15, 10, 30, 0.6);
    backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(255,255,255,0.1);

    padding: 25px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

nav.menu-desktop ul {
    display: flex;
    gap: 80px;
}

nav.menu-desktop ul li {
    list-style-type: none;
}

nav.menu-desktop ul li a {
    position: relative;
    color: var(--corBranca);

    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 1px;

    text-transform: uppercase;
    text-decoration: none;  

    transition: color .5s ease;
}

nav.menu-desktop ul li a::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 0%;
    height: 2px;
    background: var(--cor2);
    transition: width .5s;
}

nav.menu-desktop ul li a:hover::after,
nav.menu-desktop ul li a.active::after {
    width: 100%;
}

nav.menu-desktop ul li a:hover {
    color: var(--cor2);
}

nav.menu-desktop ul li a.active::after {
    width: 100%;
}

nav.menu-desktop ul li a.active {
    color: var(--cor2);
}