@media screen and (max-width:768px) {

    /* PARTE DO BOTAO ENTRE EM CONTATO*/
    .text-home button {
        margin: 15px 0;
    }

    /* PARTE DO BOTÃO CURRICULO */
    .text-home .curriculo {
        position: initial;

        width: 200px;
        margin-left: 5px;
        
        border-radius: 10px;
        overflow: auto;
        transition: none;
    }

    .text-home .curriculo i { /* Ícone SEMPRE centralizado */
        position: initial;
        left: 0;
        top: 0;
        transform: 0;

        font-size: 1.2rem;

        transition: none;
        z-index: 2;
    }

    .text-home .curriculo span { /* Texto escondido no início */
        opacity: 1;
        
        font-size: 1.2rem;
        margin-left: 3px; 
        transition: none;
    }

    /* PARTE DO AO PASSAR O MOUSE CURRICULO */
    .text-home .curriculo:hover {
        border-radius: 10px;
        justify-content: none;
        transform: scale(1.05);
    }

    .text-home .curriculo:hover i { 
        left: 0;
        transform: 0;
    }

}